* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style-type: none;
}

body {
    background-color: aliceblue;
    background: #9796f0; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #fbc7d4,
        #9796f0
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #fbc7d4,
        #9796f0
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
    padding: 15px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    box-shadow: 0px 1px 10px;
    overflow: hidden;
    z-index: 1;
}

.logos {
    height: 50px;
    width: 50px;
    transition: all 400ms ease;
}
.logos:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-right: 120px;
    font: bold 90% monospace;
}
li:hover {
    transform: translateY(-14%);
}

.container-navbar {
    border-bottom: 2px solid rgb(84, 84, 84);
    background-color: rgb(0, 0, 0);
    background: #dcd0d0; /* fallback for old browsers */ /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #ffffff,
        #ffefba
    ); /* Chrome 10-25, Safari 5.1-6 */
}

.container {
}
/* Hero */

.hero {
    margin-top: 200px;

    justify-content: center;
    height: 200px;
    display: flex;
    gap: 150px;
    margin-bottom: 150px;
}
.Info {
    font-size: 18px;
    width: 430px;
    padding: 10px;
}

#info2 {
    margin-top: 20px;
    color: gray;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
    cursor: default;
}
#info2:hover {
    transform: translateY(-10%);
    -webkit-text-fill-color: rgb(0, 0, 0);
}

h1 {
    width: 250px;
}

.copyright {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.boton {
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 7px 17px;
    gap: 10px;
    background-color: rgb(53, 51, 51);
    color: white;
    font-weight: 790;
    margin-right: 6px;
    cursor: pointer;
    transition: all 400ms ease;
}
.boton:hover {
    cursor: pointer;
    transform: translateY(-14%);
}
.boton2 {
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    border-radius: 19px;
    padding: 7px 18px;
    color: rgb(62, 53, 53);
    margin-right: 6px;
    font-weight: 850;
    cursor: pointer;
    transition: all 400ms ease;
}
.boton2:hover {
    cursor: pointer;

    transform: translateY(-14%);
}

.texto-informativo {
    font-size: 15px;
    color: gray;
    width: 430px;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease;
    cursor: default;
}
.texto-informativo:hover {
    transform: translateY(-10%);
    -webkit-text-fill-color: rgb(0, 0, 0);
}

.container img {
    transition: all 400ms ease;

    width: 300px;
}
.container img:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}

#titulo {
    width: 500px;
    margin-top: 110px;
    font-weight: 600;
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(49, 29, 29), rgb(73, 28, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    position: static;
}

#titulo2 {
    background: -webkit-linear-gradient(rgb(49, 29, 29), rgb(73, 28, 128));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: tomato;
    position: static;
    margin-bottom: 1px;
}

#subrayado {
    text-decoration-line: underline;
}

.categoria {
    margin-top: 70px;
}

.menu-icon {
    max-width: 15%;
    margin-left: 260px;
}

#cart-toggle,
#menu-toggle,
.menu-label {
    display: none;
    align-items: flex-end;
    position: static;
}

#cart-toggle:checked + .cart {
    display: flex;
}

#titulo::first-letter {
    font-size: 55px;
}

/* Ventajas */
.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#advantages {
    margin-top: 310px;
    color: (rgb 49, 29, 29);
    -webkit-background-clip: text;
    width: 400px;
    font-size: 40px;
}

#ventaja1 {
    background: -webkit-linear-gradient(rgb(49, 29, 29), rgb(73, 28, 128));
    -webkit-background-clip: text;
    margin-left: -40px;

    margin-top: 30px;
    margin-bottom: 70px;
}

/* Cards para los beneficios */

.container-card {
    display: flex;
    margin-bottom: 120px;
    align-items: center;
    justify-content: center;
    width: 89%;
}

.card {
    justify-content: center;
    align-items: center;
    cursor: default;
    transition: all 400ms ease;
}
.card:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}
.card {
    width: 450px;
}
.card2 {
    width: 400px;
}
.card3 {
    width: 400px;
}
/* Centrar los h2 (Llamados "beneficios" */
#centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
/* Parrafo de las Cards */

#parrafo {
    margin-top: 30px;
    color: gray;
}

/* Contactanos */

#acomodar {
    margin: 50px;
    margin-left: 210px;
    font-size: 40px;
    transition: all 400ms ease;
}
#acomodar:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}

.container-informacion {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

#separacion-parrafo1 {
    margin-bottom: 1px;
    color: gray;
    margin-top: 25px;
    transition: all 400ms ease;
}
.svg {
    margin-top: 20px;
}
#separacion-parrafo1:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}
#separacion-parrafo2 {
    margin-bottom: 20px;
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all 400ms ease;
}
#separacion-parrafo2:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}
#separacion-parrafo3 {
    margin-bottom: 6px;
    color: gray;
    margin-left: 3px;
    transition: all 400ms ease;
}
#separacion-parrafo3:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}

.informacion {
    margin: 10px 210px;
    gap: 10px;
    margin-bottom: 20px;
}

#titulo3 {
    margin-left: -100px;
    margin-bottom: 20px;
    transition: all 400ms ease;
}
#titulo3:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}
/* Iconos de la Informacion */
svg {
    width: 20px;
    transition: all 400ms ease;
}
svg:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}

.imagen1 {
    display: flex;
    gap: 4px;
}

.container-informacion {
    display: flex;
    gap: -20px;
}

footer {
    width: 100%;
    text-align: center;
}

.container-imagen img {
    width: 7%;

    justify-content: center;
    align-items: center;
}
.container-img2 img {
    width: 100%;
    margin-left: -80px;
    margin-bottom: 25px;
    margin-top: -90px;
    padding: 40px;
    transition: all 400ms ease;
}

.container-img2 img:hover {
    -webkit-text-fill-color: rgb(0, 0, 0);
    cursor: default;
    transform: translateY(-10%);
}

#derechos {
    color: gray;
    justify-content: center;
    align-items: center;
}

.copyright {
    width: 100%;

    padding: 12px;
    box-shadow: 0px 1px 8px;
    border-top: 1px solid black;
    -webkit-text-fill-color: rgb(94, 79, 79);
    -webkit-text-stroke: 1px black;
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    background: #dcd0d0; /* fallback for old browsers */
}

.logos2 {
    height: 40px;
    width: 40px;
    border-radius: 10px;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 15px;
}
